@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.search-products textarea {
    background-color: #ffffff;
    border: 1px solid #c9c9c9;
    border-radius: 5px 0 0 5px;
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    width: 390px;
    height: 20px;
    margin: 10px 0 10px 10px;
    padding: 5px;
    resize: none;
    outline: none;
}

.search-products #product-search-button {
    border: 1px solid #c9c9c9;
    border-radius: 0 5px 5px 0;
    vertical-align: 18px;
    margin: -1px;
    padding: 8.2px;
}

.search-products #product-search-button:hover {
background-color: #e2e2e2;
}

.products-list {
    background-color: #f1f1f1;
    padding: 10px;
    display: flex;
    flex-flow: column;
}

.product {
    background-color: #ffffff;
    border: 1px solid #c9c9c9;
    padding: 5px 10px;
    margin: 2px;
}

.product .product-name {
    cursor: default;
}

.product .product-description {
    color: #7a7a7a;
    font-weight: normal;
    margin-top: 3px;
    cursor: default;
}

.product .product-link {
    background-color: #ff0000;
    color: #ffffff;
    border: 1px solid #ce0000;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    vertical-align: 2px;
    margin: 2px;
    padding: 1px 3px;
}

.product .product-link:hover {
    background-color: #ce0000;
    cursor: pointer;
}

.red-header1 {
    background-color: #ff0000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}