* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif
}

.navbar {
    background-color: #f7f7f7;
    color: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links ul {
    display: flex;
}

.navbar-links li {
    list-style: none;
    cursor: pointer;
}

.navbar-links li a {
    color: #131313;
    text-decoration: none;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #ffffff;
}

.navbar-links li:hover a {
    color: #ff6400;
}

#navbar-logo {
    height: 50px;
    padding: 0 8px;
}

.wrapper {
    width: 100%
}

.hero-section {
    text-align: center;
    margin-top: 100px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.hero-section h1 {
    font-size: 56pt;
}

.hero-section h2 {
    color:#868686;
    font-weight: 200;
    margin-top: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.hero-section a {
    color:#ff6400;
}