body {
    background-color: #242424;
}

header h1 {
    background-color: #ffd000;
    color: #242424;
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    justify-content: center;
    justify-items: normal;
    margin: 10px;
    padding: 10px;
}


h6 {
    color: #0f0f0f;
    font-weight: lighter;
}

h6 a {
    color: #000000;
}

hr {
    border: 1px solid #181818;
}

.enterText {
    background-color: #1f1f1f;
    border: 1px solid #0f0f0f;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 10px;
}

#qrText {
    background-color: #242424;
    color: #535353;
    border: none;
    border-bottom: 2px solid #0f0f0f;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    
    width: 400px;
    height: 30px;
    margin: 10px 10px 10px 0;
    resize: none;
    outline: none;
    transition: 0.3s ease;
}

#qrText:focus {
    border-bottom: 2px solid #ffd000;
    color: #ffd000;
    height: 300px;
}

#qrConvert, #qrDownload {
    background-color: #ffd000;
    color: #242424;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px 25px;
    transition: 0.3s ease;
}

#qrConvert:hover, #qrDownload:hover {
    background-color: #ffda34;
    color: #2e2e2e;
    cursor: pointer;
}

#output {
    margin: 20px 80px;
    height: 125px;
}

.qrEditor {
    background-color: #1f1f1f;
    border: 1px solid #0f0f0f;
    border-radius: 20px;
    width: 300px;
    height: 400px;
    margin: 10px;
    padding: 10px;
}

#colorDark, #colorLight {
    background-color: #1f1f1f;
    color: #535353;
    border: none;
    border-bottom: 2px solid #0f0f0f;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    vertical-align: -4px;
    width: 200px;
    height: 25px;
    margin: 10px 10px 10px 0;
    resize: none;
    outline: none;
    transition: 0.3s ease;
}

#colorDark:focus, #colorLight:focus {
    border-bottom: 2px solid #ffd000;
    color: #ffd000;
}
